{{- /* Soar Declarative Package Configuration */ -}}
{{- /* Run `soar apply` to install packages defined here. */ -}}
{{- /*  Run `soar apply --prune` to also remove packages not listed. */ -}}
{{- /*  Package format: */ -}}
{{- /*    package_name = "*"                    # Latest version */ -}}
{{- /*    package_name = "1.2.3"                # Specific version (pinned) */ -}}
{{- /*    package_name = { version = "1.2" }    # Same as above */ -}}
{{- /*    package_name = { pkg_id = "pkg-bin", repo = "bincache" } */ -}}
{{- /*    package_name = { pinned = true, portable = { home = "~/.pkg" } } */ -}}

{{- $distros := include ".chezmoidata/distros.yaml" | fromYaml -}}
{{- $pkgs := include ".chezmoidata/packages/soar.toml" | fromToml -}}

{{- /*  Default settings applied to all packages unless overridden. */ -}}
{{- /*  Default settings for all packages. */ -}}
{{- println "[defaults]" -}}
{{- /*  Default profile to use for installations. */ -}}
{{- println "profile = \"default\"" -}}
{{- /*  Whether to install binary only (exclude logs, desktop files, etc). */ -}}
{{- println "binary_only = false" -}}

{{- /*  Map of package names to their specifications. */ -}}
{{- /*  Supports both simple string form (version) and detailed table form. */ -}}
{{- println "[packages]" -}}
{{- println "pcloud =" ( $pkgs.pcloud | toJson ) -}}
{{- println "rclone-browser =" ($pkgs.rclone_browser | toJson ) -}}
{{- println "savestate =" ($pkgs.savestate | toJson ) -}}
{{- println "use-via =" ($pkgs.use_via | toJson ) -}}

{{- if eq .devicetype "laptop" -}}
  {{- println "pince =" ($pkgs.pince | toJson ) -}}
{{- end -}}

{{- if and (hasKey .chezmoi.osRelease "versionCodename") (has .chezmoi.osRelease.versionCodename $distros.debian_codes) -}}
  {{- println "cocogitto =" ($pkgs.cocogitto | toJson ) -}}
  {{- println "ludusavi =" ($pkgs.ludusavi | toJson ) -}}
  {{- println "mcfly =" ($pkgs.mcfly | toJson ) -}}
  {{- println "rclone =" ($pkgs.rclone | toJson ) -}}
  {{- println "tldr =" ($pkgs.tldr | toJson ) -}}
{{ end }}

{{ if and (hasKey .chezmoi.osRelease "id") (has .chezmoi.osRelease.id $distros.fedora) }}
  {{- println "cocogitto =" ($pkgs.cocogitto | toJson ) -}}
  {{- println "dra =" ($pkgs.dra | toJson ) -}}
  {{- println "ludusavi =" ($pkgs.ludusavi | toJson ) -}}
  {{- println "mcfly =" ($pkgs.mcfly | toJson ) -}}
{{ end }}

{{ if and (hasKey .chezmoi.osRelease "ubuntuCodename") (has .chezmoi.osRelease.ubuntuCodename $distros.ubuntu_codes) }}
  {{- println "cocogitto =" ($pkgs.cocogitto | toJson ) -}}
  {{- println "lazygit =" ($pkgs.lazygit | toJson ) -}}
  {{- println "ludusavi =" ($pkgs.ludusavi | toJson ) -}}
  {{- println "mcfly =" ($pkgs.mcfly | toJson ) -}}
  {{- println "rclone =" ($pkgs.rclone | toJson ) -}}
  {{- println "tldr =" ($pkgs.tldr | toJson ) -}}
{{ end }}
