{{- $email := promptStringOnce . "email" "Email address (default ask.mrdgh2821@outlook.com)" -}}
{{- if not $email }}{{ $email = "ask.mrdgh2821@outlook.com" }}{{ end -}}
{{- $editor := promptStringOnce . "editor" "Editor (code/zed, default code)" -}}
{{- if not $editor }}{{ $editor = "code" }}{{ end -}}
{{- $keepassxcdb := promptStringOnce . "keepassxcdb" "KeepassXC DB Path" -}}
{{- $pcloudfolder := promptStringOnce . "pcloudfolder" "pCloud Local Folder Path" -}}
{{- $devicetype := promptStringOnce . "devicetype" "Device type (laptop/tablet, default laptop)" -}}
{{- if not $devicetype }}{{ $devicetype = "laptop" }}{{ end -}}
{{- $gpu := "" -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   $detected_gpu := output "bash" "-c" "lspci | grep -i 'vga\\|3d\\|2d'" | trim -}}
{{-   if contains "NVIDIA" $detected_gpu -}}
{{-     $gpu = "nvidia" -}}
{{-   else if contains "AMD" $detected_gpu -}}
{{-     $gpu = "amd" -}}
{{-   else -}}
{{-     $gpu = "none" -}}
{{-   end -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   $detected_gpu := output "powershell" "-NoProfile" "-NonInteractive" "-Command" "(Get-WmiObject Win32_VideoController).Name" | trim -}}
{{-   if contains "NVIDIA" $detected_gpu -}}
{{-     $gpu = "nvidia" -}}
{{-   else if contains "AMD" $detected_gpu -}}
{{-     $gpu = "amd" -}}
{{-   else -}}
{{-     $gpu = "none" -}}
{{-   end -}}
{{- end -}}
{{- $gpu = promptStringOnce . "gpu" (printf "GPU type (nvidia/amd/none, default %s)" $gpu) -}}
{{- if not (or (eq $gpu "nvidia") (eq $gpu "amd") (eq $gpu "none")) -}}
{{-   $gpu = "none" -}}
{{- end -}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
{{- if hasKey .chezmoi.osRelease "idLike" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.idLike -}}
{{- end -}}
encryption = "gpg"
[data]
email = {{ $email | quote }}
username = "MRDGH2821"
profile = "personal"
osid = {{ $osid | quote }}
pcloudfolder = {{ $pcloudfolder | quote }}
devicetype = {{ $devicetype | quote }}
gpu = {{ $gpu | quote }}

[edit]
command = {{ $editor | quote }}
args = ["--wait"]

[keepassxc]
database = {{ $keepassxcdb | quote }}

[gpg]
recipient = "D30D1B600CF5CDEE9EC2D7DBDAD1E1E272A1FA73"

[hooks.read-source-state.pre]
{{- if eq .chezmoi.os "windows" }}
command = "powershell"
args = ["{{ .chezmoi.sourceDir }}/.chezmoiscripts/windows/.install-password-manager.ps1"]
{{ else }}
command = "{{ .chezmoi.sourceDir }}/.chezmoiscripts/linux/.install-password-manager.sh"
{{ end -}}
