# Setup GitHub Token for Git Cliff https://git-cliff.org/docs/integration/github
# For GitLab projects, use GITLAB_TOKEN instead: https://git-cliff.org/docs/integration/gitlab
GITHUB_TOKEN=
GITLAB_TOKEN=
