**.egg-info
**/__pycache__/**
*.local
.DS_Store
.devenv
.direnv
.env
.env.*
!.env.sample
.git
.svn
.venv/
.worktrees/
/.devenv
__MACOSX
__pycache__
bun.lock
dist/
megalinter-reports/
node_modules/
package-lock.json
target/
uv.lock
