repos:
  - hooks:
      - id: ggshield
        language_version: python3
        stages:
          - pre-commit
    repo: https://github.com/gitguardian/ggshield
    rev: v1.46.0
  - hooks:
      - id: commit-me
        stages:
          - commit-msg
    repo: https://github.com/dev-build-deploy/commit-me
    rev: v0.12.0
