default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - hooks:
      - id: ggshield
        language_version: python3
        stages:
          - pre-commit
    repo: https://github.com/gitguardian/ggshield
    rev: v1.46.0
  - hooks:
      - args:
          - --strict
          - --scopes chezmoi,cspell,git,kde,package,pre-commit,script,vscode,zed
          - --force-scope
          - build
          - chore
          - ci
          - docs
          - feat
          - fix
          - perf
          - refactor
          - revert
          - style
          - test
        id: conventional-pre-commit
        stages:
          - commit-msg
    repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
  - hooks:
      - args:
          - --config .cspell.json
        id: cspell # Spell check changed files
      - always_run: true # This might not be necessary.
        args:
          - --config .cspell.json
          - --no-must-find-files
          - --no-progress
          - --no-summary
          - --files
          - .git/COMMIT_EDITMSG
        id: cspell # Spell check the commit message
        name: Check commit message spelling
        stages:
          - commit-msg
    repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.4.0
