{{- println "[Annotations]" -}}
{{- println "annotationToolType=2" -}}

{{- println "[General]" -}}
{{- println "autoSaveImage=true" -}}
{{- println "clipboardGroup=PostScreenshotCopyImage" -}}
{{- println "launchAction=DoNotTakeScreenshot" -}}

{{- println "[GuiConfig]" -}}
{{- println "captureMode=5" -}}

{{- println "[ImageSave]" -}}
{{- println "imageFilenameTemplate=<yyyy>-<MM>/<yyyy>-<MM>-<dd>/<title>_<yyyy>-<MM>-<dd>_<HH>:<mm>:<ss>" -}}
{{- $imgPath := (joinPath .pcloudfolder "Pictures/Screenshots") -}}
{{- println (printf "imageSaveLocation=file:///%s" ($imgPath | trimPrefix "/")) -}}
{{- println "translatedScreenshotsFolder=Screenshots" -}}

{{- println "[VideoSave]" -}}
{{- println "preferredVideoFormat=2" -}}
{{- println "translatedScreencastsFolder=Screencasts" -}}
{{- println "videoFilenameTemplate=<yyyy>-<MM>/<yyyy>-<MM>-<dd>/<title>_<yyyy>-<MM>-<dd>_<HH>:<mm>:<ss>" -}}
{{- $vidPath := (joinPath .pcloudfolder "Videos/Screencasts") -}}
{{- println (printf "videoSaveLocation=file:///%s" ($vidPath | trimPrefix "/")) -}}
