{{- println "#!/usr/bin/env bash" -}}
{{- println (printf "export PATH=\"%s/.local/bin:%s/.local/share/soar/bin:${PATH}\"" .chezmoi.homeDir .chezmoi.homeDir) -}}
{{- $common := include ".chezmoidata/packages/linux/linux_common.yaml" | fromYaml -}}
{{- $python := include ".chezmoidata/packages/python3.yaml" | fromYaml -}}
{{- $line := "printf '%*s\\n' \"${COLUMNS:-$(tput cols)}\" '' | tr ' ' '-'" -}}

{{- /* Flatpaks */ -}}
{{- println "flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo" -}}
{{- println "flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo" -}}
{{- println "flatpak install -y flathub" (join " " $common.flatpak) -}}
{{- println $line -}}

{{- /* Self installing packages */ -}}
{{- range $common.installer_url -}}
  {{- println "bash -c " ( . | quote) -}}
{{- end -}}
{{- println $line -}}

{{- /* Python3 CLI tools */ -}}
{{- range $python.cli -}}
  {{- println "uv tool install" . -}}
  {{- println $line -}}
{{- end -}}
