$CONFIG = Join-Path $env:AppData "espanso"
$NEW_CONFIG = "{{ joinPath .pcloudfolder "Apps/espanso" }}"

espanso stop

Remove-Item -Recurse -Force $CONFIG
New-Item -ItemType SymbolicLink -Path $CONFIG -Target $NEW_CONFIG

espanso service register
echo "Espanso is configured."
echo "-------------------------------------------------"
