{{- $python3 := include ".chezmoidata/packages/python3.yaml" | fromYaml -}}
{{- $windows := include ".chezmoidata/packages/windows.yaml" | fromYaml -}}
{{- $line := "Write-Output ('-' * (Get-Host).UI.RawUI.WindowSize.Width)" -}}

{{- /* Winget Packages */ -}}
{{- range $windows.winget -}}
  {{- println "echo \"Installing\"" . -}}
  {{- println "winget install -e --disable-interactivity --silent --accept-source-agreements --accept-package-agreements --id" (. | quote) -}}
  {{- println $line -}}
{{- end -}}
{{- println "$Env:Path = [System.Environment]::GetEnvironmentVariable(\"Path\",\"Machine\") + \";\" + [System.Environment]::GetEnvironmentVariable(\"Path\",\"User\")" -}}

{{- /* Python CLI Packages */ -}}
{{- println "echo \"Installing Python CLI packages\"" -}}
{{- println "uv tool install" (join " " $python3.cli -}}
{{- println $line -}}
