{{- /* Configuring Git */ -}}
{{- $cfg := "git config --global" -}}
{{- $line := "" -}}
{{- if eq .chezmoi.os "windows" }}
  {{- $line = "Write-Output ('-' * (Get-Host).UI.RawUI.WindowSize.Width)" -}}
{{- else -}}
  {{- $line = "printf '%*s\\n' \"${COLUMNS:-$(tput cols)}\" '' | tr ' ' '-'" -}}
{{- end -}}

{{- /* Configuring gh */ -}}

{{- println "if ! gh auth status >/dev/null 2>&1" -}}
{{- println "  echo \"gh: not authenticated. Logging in...\"" -}}
{{- println "  gh auth login -p https -h github.com -w" -}}
{{- println "else" -}}
{{- println "  echo \"gh: already authenticated.\"" -}}
{{- println "fi" -}}

{{- println $line -}}

{{- println "gh auth setup-git" -}}
{{- println "echo \"gh cli is Configured!\" " -}}

{{- println $line -}}
