{{- println "#!/usr/bin/env bash" -}}
{{- println (printf "export PATH=\"%s/.local/bin:%s/.local/share/soar/bin:${PATH}\"" .chezmoi.homeDir .chezmoi.homeDir) -}}
{{- $fedora := include ".chezmoidata/packages/linux/fedora.yaml" | fromYaml -}}
{{- $common := include ".chezmoidata/packages/linux/linux_common.yaml" | fromYaml -}}
{{- $distros := include ".chezmoidata/distros.yaml" | fromYaml -}}
{{- $line := "printf '%*s\\n' \"${COLUMNS:-$(tput cols)}\" '' | tr ' ' '-'" -}}

{{- if and (hasKey .chezmoi.osRelease "id") (has .chezmoi.osRelease.id $distros.fedora) -}}
  {{- $allPackages := list -}}
  {{- println "\necho \"Installing Fedora Packages\"" -}}
  {{- /* Add packages */ -}}
  {{- $allPackages = concat $allPackages $fedora.dnf5.native $fedora.terra ($fedora.dnf5.url | quoteList) $common.packages -}}

  {{- /* Conditionally add KDE packages */ -}}
  {{- if eq (env "XDG_SESSION_DESKTOP") "KDE" -}}
    {{- $allPackages = concat $allPackages $common.kde -}}
  {{- end -}}

  {{- /* Conditionally add Tablet only packages */ -}}
  {{- if eq .devicetype "tablet" -}}
    {{- $allPackages = concat $allPackages $common.tablet_only -}}
  {{- end -}}

  {{- /* Conditionally add Laptop only packages */ -}}
  {{- if eq .devicetype "laptop" -}}
    {{- $allPackages = concat $allPackages $fedora.laptop_only.dnf5 -}}
  {{- end -}}

  {{- println "sudo dnf5 install " (join " " $allPackages) -}}
  {{- println $line -}}

  {{- /* Soar pkgs */ -}}
  {{- println "soar add https://github.com/devmatteini/dra/releases/download/0.10.1/dra-0.10.1-x86_64-unknown-linux-gnu.tar.gz --pkg-type archive --name dra --version 0.10.1" -}}
  {{- println "soar sync" -}}
  {{- println "soar apply --prune" -}}
  {{- println "soar update" -}}
  {{- println $line -}}

  {{- /* DRA Packages */ -}}
  {{- $draPackages := list -}}
  {{- $draPackages = concat $draPackages $fedora.dra.package -}}

  {{- /* Conditionally add Laptop only packages */ -}}
  {{- if eq .devicetype "laptop" -}}
    {{- $draPackages = concat $draPackages $fedora.laptop_only.dra.package -}}
  {{- end -}}

  {{- range $draPackages -}}
    {{- println "sudo dra download -i " . -}}
    {{- println $line -}}
  {{- end -}}

  {{- /* Flatpaks */ -}}
  {{- println "flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo" -}}
  {{- println "flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo" -}}
  {{- println "flatpak install -y flathub" (join " " $fedora.flatpak) -}}
  {{- println $line -}}

  {{- /* Self installing packages */ -}}
  {{- range $fedora.installer_url -}}
    {{- println "bash -c " ( . | quote) -}}
    {{- println $line -}}
  {{- end -}}

{{- else -}}
  {{- fail "This script is only for Fedora based systems." -}}
{{- end -}}
