{{- println "#!/usr/bin/env bash" -}}
{{- println (printf "export PATH=\"%s/.local/bin:%s/.local/share/soar/bin:${PATH}\"" .chezmoi.homeDir .chezmoi.homeDir) -}}
{{- $fedora := include ".chezmoidata/packages/linux/fedora.yaml" | fromYaml -}}
{{- $common := include ".chezmoidata/packages/linux/linux_common.yaml" | fromYaml -}}
{{- $distros := include ".chezmoidata/distros.yaml" | fromYaml -}}
{{- $line := "printf '%*s\\n' \"${COLUMNS:-$(tput cols)}\" '' | tr ' ' '-'" -}}

{{- if and (hasKey .chezmoi.osRelease "id") (has .chezmoi.osRelease.id $distros.fedora) (ne (lookPath "dra") "") -}}
  {{- $allPackages := list -}}
  {{- println "\necho \"Installing Fedora Packages\"" -}}

  {{- /* DRA Packages */ -}}
  {{- $draPackages := list -}}
  {{- $draPackages = concat $draPackages $fedora.dra.package -}}

  {{- /* Conditionally add Laptop only packages */ -}}
  {{- if eq .devicetype "laptop" -}}
    {{- $draPackages = concat $draPackages $fedora.laptop_only.dra.package -}}
  {{- end -}}

  {{- range $draPackages -}}
    {{- println "sudo dra download -i " . -}}
    {{- println $line -}}
  {{- end -}}

{{- else -}}
  {{- fail "This script is only for Fedora based systems." -}}
{{- end -}}
