#!/usr/bin/env bash

export PATH="$HOME/.local/bin/:$HOME/bin/:$PATH"
bindir="$HOME/.local/bin/"
appimagedir="$HOME/AppImages/"

mkdir -p "$bindir"
mkdir -p "$appimagedir"
mkdir -p "$HOME/bin/"

{{ $debian := include ".chezmoidata/packages/linux/debian.yaml" | fromYaml }}
{{ $fedora := include ".chezmoidata/packages/linux/fedora.yaml" | fromYaml }}
{{ $arch := include ".chezmoidata/packages/linux/arch.yaml" | fromYaml }}
{{ $common := include ".chezmoidata/packages/linux/linux_common.yaml" | fromYaml }}
{{ $python := include ".chezmoidata/packages/python3.yaml" | fromYaml }}
{{ $vscode := include ".chezmoidata/packages/vscode.yaml" | fromYaml }}

# Native packages

{{ if or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") (eq .osid "linux-debian ubuntu") (eq .osid "linux-ubuntu debian") }}
## Debian
echo "Installing Debian Packages"

sudo nala install --update -y -o APT::Get::AllowUnauthenticated=true {{ range $debian.nala }} {{.}}{{ end }}
sudo nala install --update -y -o APT::Get::AllowUnauthenticated=true {{ range $debian.nala_url }}{{. | quote}} {{ end }}

if [[ $XDG_SESSION_DESKTOP == "KDE" ]]; then
  sudo nala install --update -y -o APT::Get::AllowUnauthenticated=true {{ range $common.kde }} {{.}}{{ end }}
  sudo nala install --update -y -o APT::Get::AllowUnauthenticated=true {{ range $debian.kde }} {{.}}{{ end }}
fi

if hostnamectl | grep -iq 'starlite'; then
  echo "Installing tablet specific packages"
  sudo nala install --update -y -o APT::Get::AllowUnauthenticated=true {{ range $common.tablet_only }} {{.}}{{ end }}
fi

echo "Downloading packages via dra"
{{ range $debian.dra.appimage }}
echo "Downloading {{.}}"
dra download -o "$appimagedir" -i {{.}}
{{ end }}

{{ range $debian.dra.bin }}
echo "Downloading {{.}}"
dra download -o "$bindir" -i {{.}}
{{ end }}

{{ range $debian.dra.package }}
echo "Downloading {{.}}"
sudo dra download -i {{.}}
{{ end }}

{{ range $debian.dra.raw }}
echo "Downloading {{.}}"
dra download {{.}}
{{ end }}

echo "Installing Flatpak packages"
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
flatpak install -y flathub {{ range $debian.flatpak }} {{.}}{{ end }}

# Linux self installing packages
echo "Installing self installing packages"
{{ range $debian.installer_url }}
bash -c {{ . | quote }}
{{ end }}

{{ else if eq .osid "linux-fedora" }}
## Fedora
echo "Installing RPM packages"

sudo dnf5 install -y {{ range $fedora.dnf5 }} {{.}}{{ end }}
{{ range $fedora.dnf5_url }}
sudo dnf5 install -y {{ . | quote }}
{{ end }}

if [[ $XDG_SESSION_DESKTOP == "KDE" ]]; then
  sudo dnf5 install -y {{ range $common.kde }} {{.}}{{ end }}
fi

if hostnamectl | grep -iq 'starlite'; then
  echo "Installing tablet specific packages"
  sudo dnf5 install -y {{ range $common.tablet_only }} {{.}}{{ end }}
fi

echo "Downloading packages via dra"
{{ range $fedora.dra.appimage }}
echo "Downloading {{.}}"
dra download -o "$appimagedir" -i {{.}}
{{ end }}

{{ range $fedora.dra.bin }}
echo "Downloading {{.}}"
dra download -o "$bindir" -i {{.}}
{{ end }}

{{ range $fedora.dra.package }}
echo "Downloading {{.}}"
dra download -i {{.}}
{{ end }}

echo "Installing Flatpak packages"
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
flatpak install -y flathub {{ range $fedora.flatpak }} {{.}}{{ end }}

# Linux self installing packages
echo "Installing self installing packages"
{{ range $fedora.installer_url }}
bash -c {{ . | quote }}
{{ end }}

{{ else if eq .osid "linux-arch" }}
## Arch
echo "Installing Arch packages"

sudo pacman -Syu --needed {{ range $arch.core }} {{.}}{{end}} {{ range $arch.extra }} {{.}}{{end}} {{ range $arch.multilib }} {{.}}{{end}}

if [[ $XDG_SESSION_DESKTOP == "KDE" ]]; then
  sudo pacman -Syu --needed {{ range $arch.kde }} {{.}}{{ end }} {{ range $common.kde }} {{.}}{{ end }}
fi

if hostnamectl | grep -iq 'starlite'; then
  echo "Installing tablet specific packages"
  sudo pacman -Syu --needed {{ range $common.tablet_only }} {{.}}{{ end }}
fi

if type -P yay >/dev/null 2>&1; then
  yay -Syu --needed {{ range $arch.aur }} {{.}}{{ end }}
elif type -P paru >/dev/null 2>&1; then
  paru -Syu --needed {{ range $arch.kde }} {{.}}{{ end }}
fi

echo "Installing Flatpak packages"
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
{{/* flatpak install -y flathub {{ range $arch.flatpak }} {{.}}{{ end }} */}}

{{ end }}

# Executables from GitHub
echo "Installing executables from GitHub"

## Appimages
echo "Installing AppImages"
{{ range $common.dra.appimage }}
echo "Downloading {{.}}"
dra download -o "$HOME"/AppImages/ -i {{.}}
{{ end }}

## Binaries
echo "Installing binary executables"
{{ range $common.dra.bin }}
echo "Downloading {{.}}"
dra download -o "$HOME"/.local/bin/ -i {{.}}
{{ end }}

# Flatpak
echo "Installing Common Flatpaks"
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
flatpak install -y flathub {{ range $common.flatpak }} {{.}}{{ end }}

# Linux self installing packages
echo "Installing self installing packages"
{{ range $common.installer_url }}
bash -c {{ . | quote }}
{{ end }}

# Python3 CLI packages

echo "Installing Python CLI packages"
uv install {{ range $python.cli }} {{.}}{{ end }}

# VS Code Extensions

installed_extensions=$(code --list-extensions)

{{ range $vscode.extensions }}
if [[ ! "${installed_extensions[*]}" =~ {{.}} ]]; then
  code --install-extension {{.}}
else
  echo "{{.}} is already installed"
fi
{{ end }}
