{{- println "#!/usr/bin/env bash" -}}
{{- $line := "printf '%*s\\n' \"${COLUMNS:-$(tput cols)}\" '' | tr ' ' '-'" -}}

{{ if eq .devicetype "tablet" }}
  {{- println "systemctl --user enable waydroid-monitor.service --now" -}}
  {{- println "sudo systemctl enable waydroid-mount.service --now" -}}
  {{- println "echo \"Waydroid Mounting Service is configured.\"" -}}
  {{- println $line -}}
{{ end }}
