{{- println "#!/usr/bin/env bash" -}}
{{- println (printf "export PATH=\"%s/.local/bin:%s/.local/share/soar/bin:${PATH}\"" .chezmoi.homeDir .chezmoi.homeDir) -}}
{{- $arch := include ".chezmoidata/packages/linux/arch.yaml" | fromYaml -}}
{{- $common := include ".chezmoidata/packages/linux/linux_common.yaml" | fromYaml -}}
{{- $distros := include ".chezmoidata/distros.yaml" | fromYaml -}}
{{- $line := "printf '%*s\\n' \"${COLUMNS:-$(tput cols)}\" '' | tr ' ' '-'" -}}

{{- if and (hasKey .chezmoi.osRelease "id") (has .chezmoi.osRelease.id $distros.arch) -}}
  {{- $allPackages := list -}}
  {{- println "echo \"Installing Arch Packages\"" -}}
  {{- /* Add packages */ -}}
  {{- $allPackages = concat $allPackages $arch.extra $arch.core $arch.multilib $arch.aur $common.packages -}}

  {{- /* Conditionally add KDE packages */ -}}
  {{- if eq (env "XDG_SESSION_DESKTOP") "KDE" -}}
    {{- $allPackages = concat $allPackages $arch.kde $common.kde -}}
  {{- end -}}

  {{- /* Conditionally add tablet packages */ -}}
  {{- if eq .devicetype "tablet" -}}
    {{- $allPackages = concat $allPackages $common.tablet_only $arch.tablet_only.aur $arch.tablet_only.extra -}}
  {{- end -}}

  {{- /* Conditionally add laptop packages */ -}}
  {{- if eq .devicetype "laptop" -}}
    {{- $allPackages = concat $allPackages $arch.laptop_only.aur -}}
  {{- end -}}

  {{- $aurHelper := "" -}}
  {{- if lookPath "yay" -}}
    {{- $aurHelper = "yay" -}}
  {{- else if lookPath "paru" -}}
    {{- $aurHelper = "paru" -}}
  {{- else -}}
    {{- fail "Error: Neither yay nor paru found in PATH. Please install one of them." -}}
  {{- end -}}

  {{- println (print $aurHelper " -Syu --needed " (join " " $allPackages)) -}}
  {{- println $line -}}

  {{- /* Soar pkgs */ -}}
  {{- println "soar sync" -}}
  {{- println "soar apply --prune" -}}
  {{- println "soar update" -}}
  {{- println $line -}}
{{- else -}}
  {{- fail "This script is only for Arch based systems." -}}
{{- end -}}
