git config --global commit.gpgsign true
git config --global core.autocrlf false
git config --global init.defaultBranch main
git config --global merge.ff only
git config --global tag.forceSignAnnotated true
git config --global user.email {{ .email }}
git config --global user.name {{ .username }}

{{- if eq .profile "personal" }}
git config --global user.signingkey 1915CBA05A598D01
{{- end }}

{{- if eq .chezmoi.os "windows" }}
git config --global gpg.program "C:\Program Files\GnuPG\bin\gpg.exe"
{{- end }}

git config --global init.templatedir '~/.git-templates'

gh auth login -p https -h github.com -w

echo "Git is Configured!"

echo "-------------------------------"

git credential-oauth configure

git config --global credential.{{.forgejo.url}}.oauthClientId {{.forgejo.client_id}}
git config --global credential.{{.forgejo.url}}.oauthAuthURL /login/oauth/authorize
git config --global credential.{{.forgejo.url}}.oauthTokenURL /login/oauth/access_token

echo "-------------------------------"
