{{- /* Configuring Git */ -}}
{{- $cfg := "git config --global" -}}
{{- $line := "" -}}
{{- if eq .chezmoi.os "windows" }}
  {{- $line = "Write-Output ('-' * (Get-Host).UI.RawUI.WindowSize.Width)" -}}
{{- else -}}
  {{- $line = "printf '%*s\\n' \"${COLUMNS:-$(tput cols)}\" '' | tr ' ' '-'" -}}
{{- end -}}

{{- /* Configuring gh */ -}}
{{- println "gh auth login -p https -h github.com -w" -}}
{{- println "gh auth setup-git" -}}
{{- println "echo \"gh cli is Configured!\" " -}}

{{- println $line -}}

{{- /* Configuring git credential helpers */ -}}

{{- println "git-credential-keepassxc configure" -}}
{{- println "echo \"Git credential keepassxc is Configured!\" " -}}

{{- println $line -}}
