{{- $python3 := include ".chezmoidata/packages/python3.yaml" | fromYaml -}}
{{- $rust := include ".chezmoidata/packages/rust.yaml" | fromYaml -}}

{{- /* Python3 CLI tools */ -}}
{{- range $python.cli -}}
  {{- println "uv tool install" . -}}
  {{- println $line -}}
{{- end -}}

{{- /* Rust CLI tools */ -}}
{{- println "rustup default stable" -}}
{{- println "cargo install" (join " " $rust.install) -}}
{{- range $rust.git -}}
  {{- println "cargo install --git" . -}}
  {{- println $line -}}
{{- end -}}
{{- println "cargo binstall" (join " " $rust.binstall) -}}
{{- println $line -}}
