{{- if ne .chezmoi.os "windows" }}
  {{- /* Add ~/.local/bin to PATH for Linux */ -}}
  {{- println (printf "$env:PATH = \"%s/.local/bin:$env:PATH\"" .chezmoi.homeDir) -}}
{{- end }}

{{- /* Oh my posh random theme initializer */ -}}
{{- /* Select a random theme */ -}}
{{- if eq .chezmoi.os "windows" }}

  {{- println "$package = Get-AppxPackage -Name ohmyposh.cli" -}}
  {{- println "$installLocation = $package.InstallLocation" -}}

  {{- /* Define potential theme directories (not globs) */ -}}
  {{- println "$themeDirs = @(" -}}
  {{- println "  \"$env:UserProfile\\AppData\\Local\\Programs\\oh-my-posh\\themes\"" -}}
  {{- println "  \"$env:UserProfile\\.oh-my-posh\\themes\"" -}}
  {{- println "  Join-Path $installLocation \"themes\"" -}}
  {{- println ")" -}}

  {{- /* Define valid JSON files */ -}}
  {{- println "$validJsonFiles = @()" -}}

  {{- println "foreach ($dir in $themeDirs) {" -}}
  {{- println "  if (Test-Path $dir) {" -}}
  {{- println "    $jsonFiles = Get-ChildItem -Path $dir -Filter '*.json' -File -ErrorAction SilentlyContinue" -}}
  {{- println "    if ($jsonFiles.Count -gt 0) {" -}}
  {{- println "      $validJsonFiles = $jsonFiles" -}}
  {{- println "      break" -}}
  {{- println "    }" -}}
  {{- println "  }" -}}
  {{- println "}" -}}

  {{- println "$theme = Get-Random -InputObject $validJsonFiles" -}}

{{- else }}
  {{- println "$theme = Get-ChildItem ~/.cache/oh-my-posh/themes/*.json | Get-Random" -}}
{{- end }}

{{- println "Write-Output $theme.name" -}}
{{- /* Set the theme */ -}}
{{- println "oh-my-posh --init --shell pwsh --config $theme.FullName | Invoke-Expression" -}}

{{- /* Import the Chocolatey Profile that contains the necessary code to enable */ -}}
{{- /* tab-completions to function for `choco`. */ -}}
{{- /* Be aware that if you are missing these lines from your profile, tab completion */ -}}
{{- /* for `choco` will not function. */ -}}
{{- /* See https://ch0.co/tab-completion for details. */ -}}
{{- println "$ChocolateyProfile = \"$env:ChocolateyInstall\\helpers\\chocolateyProfile.psm1\"" -}}
{{- println "if (Test-Path($ChocolateyProfile)) {" -}}
{{- println "  Import-Module \"$ChocolateyProfile\"" -}}
{{- println "}" -}}

{{- /* Fast node Manager */ -}}
{{- println "fnm env --use-on-cd --shell power-shell | Out-String | Invoke-Expression" -}}

{{- /* Zoxide */ -}}
{{- println "Invoke-Expression (& { (zoxide init powershell --cmd cd | Out-String) })" -}}

{{- /* Aliases */ -}}
{{- if eq .chezmoi.os "windows" }}
  {{- println "Remove-Item Alias:cat -Force" -}}
  {{- println "Set-Alias -Name cat -Value bat" -}}
{{- end }}

{{- /* McFly */ -}}
{{- println "Invoke-Expression -Command $(mcfly init powershell | out-string)" -}}
