{{- println "#!/usr/bin/env bash" -}}
{{- println (printf "export PATH=\"%s/.local/bin:%s/.local/share/soar/bin:${PATH}\"" .chezmoi.homeDir .chezmoi.homeDir) -}}
{{- $debian := include ".chezmoidata/packages/linux/debian.yaml" | fromYaml -}}
{{- $common := include ".chezmoidata/packages/linux/linux_common.yaml" | fromYaml -}}
{{- $distros := include ".chezmoidata/distros.yaml" | fromYaml -}}
{{- $line := "printf '%*s\\n' \"${COLUMNS:-$(tput cols)}\" '' | tr ' ' '-'" -}}

{{- if and (hasKey .chezmoi.osRelease "versionCodename") (has .chezmoi.osRelease.versionCodename $distros.debian_codes) (ne (lookPath "dra") "") -}}
  {{- $allPackages := list -}}
  {{- println "\necho \"Installing Debian DRA Packages\"" -}}

  {{- /* DRA Packages */ -}}
  {{- $draPackages := list -}}
  {{- $draPackages = concat $draPackages $debian.dra.package -}}

  {{- /* Conditionally add Laptop only packages */ -}}
  {{- if eq .devicetype "laptop" -}}
    {{- $draPackages = concat $draPackages $debian.laptop_only.dra.package -}}
  {{- end -}}

  {{- range $draPackages -}}
    {{- println "sudo dra download -i " . -}}
  {{- end -}}
  {{- println $line -}}
{{- else -}}
  {{- fail "This script is only for Debian based systems." -}}
{{- end -}}
