{{- $line := "Write-Output ('-' * (Get-Host).UI.RawUI.WindowSize.Width)" -}}

{{- println "$CONFIG = Join-Path $env:AppData \"espanso\"" -}}
{{- println "$NEW_CONFIG =" (joinPath .pcloudfolder "Apps/espanso") -}}

{{- println "espanso stop" -}}

{{- println "Remove-Item -Recurse $CONFIG -Force" -}}
{{- println "New-Item -ItemType SymbolicLink -Path $CONFIG -Target $NEW_CONFIG" -}}

{{- println "espanso service register" -}}
{{- println "espanso service restart" -}}

{{- println "echo \"Espanso is configured.\"" -}}
{{- println $line -}}
