[Annotations]
annotationToolType=2

[General]
autoSaveImage=true
clipboardGroup=PostScreenshotCopyImage
launchAction=DoNotTakeScreenshot

[GuiConfig]
captureMode=5

[ImageSave]
imageFilenameTemplate=<yyyy>-<MM>/<yyyy>-<MM>-<dd>/<title>_<yyyy>-<MM>-<dd>_<HH>:<mm>:<ss>
imageSaveLocation=file://{{ .pcloudfolder }}/Pictures/Screenshots
translatedScreenshotsFolder=Screenshots

[VideoSave]
preferredVideoFormat=2
translatedScreencastsFolder=Screencasts
videoFilenameTemplate=<yyyy>-<MM>/<yyyy>-<MM>-<dd>/<title>_<yyyy>-<MM>-<dd>_<HH>:<mm>:<ss>
videoSaveLocation=file://{{ .pcloudfolder }}/Videos/Screencasts
